---
export const prerender = true;
import Base from '../../layouts/BaseLayout.astro';
import { H1, Text, BlogPostPreview, Page } from '../../components';
import { getLatestPosts } from '../../lib/content';
const description = `A collection of my random musings; usually centered around frontend topics. Join me as I explore new technologies, share my experiences, and learn from others.`;
const { posts, tagMap, postsByTag } = await getLatestPosts();
---
<Base title="Blog" description={description}>
  <Page client:load>
    <article class="py-16 md:py-24">
      <header class="mb-16 space-y-6 max-w-4xl">
        <h1 class="text-4xl md:text-5xl font-scp font-bold tracking-tight leading-tight text-zinc-900 dark:text-zinc-50">writing</h1>
        <Text>{description}</Text>
      </header>
      <section class="space-y-12 max-w-4xl">
        {posts.map((post) => (<BlogPostPreview post={post} animate />))}
      </section>
    </article>
  </Page>
</Base>


