@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .min-h-fill-available {
    min-height: 100vh;
  }

  @supports (-webkit-touch-callout: none) {
    .pb-safe {
      padding-bottom: calc(1rem + env(safe-area-inset-bottom));
    }

    .min-h-fill-available {
      min-height: -webkit-fill-available;
    }
  }
}

html {
  @apply scroll-smooth font-scp;
  scroll-padding-top: 100px;
}

body {
  @apply font-scp;
}

h1,
h2,
h3 {
  @apply font-scp;
}

.prose-anchor {
  @apply no-underline !text-zinc-800 dark:!text-zinc-100;
}

::selection {
  background-color: #ff9500;
  color: #000000;
}

pre {
  overflow-x: auto;
}

pre[class*="language-"] {
  @apply !bg-zinc-800 !mt-0;
}

.headroom {
  @apply relative transition will-change-transform ease-in-out duration-300;
}

.headroom--pinned {
  @apply translate-y-0 scale-100;
}

.headroom--unpinned {
  @apply -translate-y-16 scale-90;
}

.rehype-code-title:has(+ pre) + pre {
  @apply !rounded-t-none;
}

.rehype-code-title {
  @apply bg-sky-800 px-4 py-2 font-mono rounded-t-md text-sm text-sky-100 font-semibold;
}

/**
 * Inspired by gatsby remark prism - https://www.gatsbyjs.com/plugins/gatsby-remark-prismjs/
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .code-highlight.
 */
.code-highlight {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left: 4px solid rgba(0, 0, 0, 0); /* Set placeholder for highlight accent border color to transparent */
}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2); /* Set inserted line (+) color */
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2); /* Set deleted line (-) color */
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(55, 65, 81, 0.5); /* Set highlight bg color */
  border-left: 4px solid rgb(59, 130, 246); /* Set highlight accent border color */
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175); /* Line number color */
  content: attr(line);
}
