---
type Props = {
  bottom: boolean;
};

const { bottom } = Astro.props;
---

<div class="dark:text-zinc-700 text-orange/40 z-10">
  <svg
    class="absolute left-0 top-0 size-4 pointer-events-none -translate-x-1/2 -translate-y-1/2"
    viewBox="0 0 8 8"
  >
    <line x1="4" y1="0" x2="4" y2="8" stroke="currentColor" stroke-width="1"></line>
    <line x1="0" y1="4" x2="8" y2="4" stroke="currentColor" stroke-width="1"></line>
  </svg>
  <svg
    class="absolute right-0 top-0 size-4 translate-x-1/2 -translate-y-1/2 pointer-events-none"
    viewBox="0 0 8 8"
  >
    <line x1="4" y1="0" x2="4" y2="8" stroke="currentColor" stroke-width="1"></line>
    <line x1="0" y1="4" x2="8" y2="4" stroke="currentColor" stroke-width="1"></line>
  </svg>

  {
    bottom && (
      <>
        <svg
          class="absolute left-0 bottom-0 size-4 pointer-events-none -translate-x-1/2 translate-y-1/2"
          viewBox="0 0 8 8"
        >
          <line x1="4" y1="0" x2="4" y2="8" stroke="currentColor" stroke-width="1" />
          <line x1="0" y1="4" x2="8" y2="4" stroke="currentColor" stroke-width="1" />
        </svg>
        <svg
          class="absolute right-0 bottom-0 size-4 translate-x-1/2 translate-y-1/2 pointer-events-none"
          viewBox="0 0 8 8"
        >
          <line x1="4" y1="0" x2="4" y2="8" stroke="currentColor" stroke-width="1" />
          <line x1="0" y1="4" x2="8" y2="4" stroke="currentColor" stroke-width="1" />
        </svg>
      </>
    )
  }
</div>
