---
import BlogPostPreview from "./BlogPostPreview.astro";
import { getLatestPosts } from "../lib/get-latest-posts";

const { posts, hasMore } = await getLatestPosts({ includeDrafts: false });
---

<div class="w-full flex-col space-y-0 divide-y divide-orange/20 dark:divide-zinc-800">
  {
    posts.map((post, index) => (
      <div
        class="flex md:divide-x divide-orange/20 dark:divide-zinc-800"
        data-draft={post.draft}
        data-slug={post.slug}
      >
        <div class="flex-1 hidden md:flex" />
        <div class="max-w-4xl w-full">
          <BlogPostPreview post={post} bottomCrosses={index === posts.length - 1} />
        </div>
        <div class="flex-1 hidden md:flex" />
      </div>
    ))
  }
</div>
