---

---

<header class="w-full border-b border-orange/20 dark:border-zinc-800 relative">
  <div class="flex flex-col md:flex-row md:divide-x divide-orange/20 dark:divide-zinc-800">
    <div class="hidden md:flex flex-1 p-8 md:p-16"></div>
    <div class="max-w-4xl w-full px-8 md:px-16 py-8 md:py-16 space-y-6 relative isolate">
      <slot name="title" />
      <slot name="description" />
      <!-- <canvas class="absolute inset-0 w-full h-full -top-6 -z-10 isolate"></canvas> -->
    </div>
    <div class="hidden md:flex flex-1 p-8 md:p-16"></div>
  </div>
</header>
