@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Merriweather", serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}

@keyframes wave {
  from {
    transform: rotate(-4deg);
  }

  to {
    transform: rotate(4deg);
  }
}

.wave {
  will-change: transform;
  transform: rotate(-4deg);
  animation: 0.3s ease-in-out infinite alternate wave;
}

.contact-form-button {
  transition: all 200ms ease;
  @apply bg-transparent cursor-pointer border-4 rounded text-center lowercase border-white px-3 py-2 cursor-pointer;
}

.contact-form-button:hover {
  @apply bg-white text-black shadow-xl font-bold;
}

.header-link-button {
  transition: all 200ms ease;
  @apply bg-transparent flex-1 mb-2 cursor-pointer border-4 rounded text-center lowercase border-white px-3 py-2 cursor-pointer;
}

.header-link-button:hover {
  @apply bg-white text-black shadow-xl font-bold;
}

.header-link-button.blue:hover {
  @apply text-blue-600;
}

.header-link-button.purple:hover {
  @apply text-purple-600;
}

.header-link-button.red:hover {
  @apply text-red-600;
}

@screen md {
  .header-link-button {
    @apply mr-2 mb-0;
  }

  .header-link-button:last-child {
    @apply mr-0;
  }
}

.fancy-border {
  /* fallback to white */
  border-color: white;

  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #00d1ff, #fa00ff);
}
