@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Merriweather", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes wave {
  from {
    transform: rotate(-4deg);
  }

  to {
    transform: rotate(4deg);
  }
}

.wave {
  transform: rotate(-4deg);
  animation: 0.3s ease-in-out infinite alternate wave;
}

.header-link-button {
  transition: all 200ms ease;
  @apply bg-transparent flex-1 mb-2 cursor-pointer border-4 rounded text-center lowercase border-white px-3 py-2 cursor-pointer;
}

.header-link-button:hover {
  @apply bg-white text-black shadow-xl font-bold;
}

@screen md {
  .header-link-button {
    @apply mr-2 mb-0;
  }

  .header-link-button:last-child {
    @apply mr-0;
  }
}
