.container {
  background: linear-gradient(90deg, #00d1ff 0%, #fa00ff 100%);
  min-height: 640px;
}

.container-shadow {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.65);
}

.footer {
  /* background: linear-gradient(90deg, #00d1ff 0%, #fa00ff 100%); */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
