.container {
  background: linear-gradient(90deg, #00d1ff 0%, #fa00ff 100%);
  min-height: 640px;
}

.footer {
  background: linear-gradient(90deg, #00d1ff 0%, #fa00ff 100%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.7);
}
