@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .min-h-fill-available {
    min-height: 100vh;
  }

  @supports (-webkit-touch-callout: none) {
    .pb-safe {
      padding-bottom: calc(1rem + env(safe-area-inset-bottom));
    }

    .min-h-fill-available {
      min-height: -webkit-fill-available;
    }
  }
}

html {
  background: black;
  scroll-behavior: smooth;
}

::selection {
  color: black;
  background: #feee16;
}

.contact-form-input {
  @apply bg-black bg-opacity-20 border text-white font-scp mt-2 px-2 py-1 transition-colors;
}

.contact-form-input:not(:empty) {
  @apply bg-black bg-opacity-70;
}
