@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .min-h-fill-available {
    min-height: 100vh;
  }

  @supports (-webkit-touch-callout: none) {
    .pb-safe {
      padding-bottom: calc(1rem + env(safe-area-inset-bottom));
    }

    .min-h-fill-available {
      min-height: -webkit-fill-available;
    }
  }
}

html {
  background: black;
}
