@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .min-h-fill-available {
    min-height: 100vh;
  }

  @supports (-webkit-touch-callout: none) {
    .pb-safe {
      padding-bottom: calc(1rem + env(safe-area-inset-bottom));
    }

    .min-h-fill-available {
      min-height: -webkit-fill-available;
    }
  }
}

html {
  @apply scroll-smooth font-inter bg-black text-zinc-200;
}
/* 
::selection {
  @apply bg-red text-crust;
} */

.contact-form-input {
  @apply bg-crust border text-white font-scp mt-2 px-2 py-1 transition-colors rounded border-surface0 focus:ring-0 outline-0 focus:border-surface1;
}

.contact-form-input:not(:placeholder-shown) {
  @apply bg-crust bg-opacity-70;
}

.prose p {
  @apply text-text;
}

.prose a {
  @apply text-yellow font-scp;
}

.prose pre {
  @apply bg-base shadow-inner;
}

.prose code {
  @apply font-scp;
}

/*
   Theme: Catppuccin
   Author: (c) Nick Radford
   Maintainer: @nickradford
   Updated: 2022-08-15
*/

.hljs {
  @apply bg-base text-text;
}

.hljs-doctag,
.hljs-meta-keyword,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-code,
.hljs-emphasis {
  font-style: italic;
}

.hljs-section,
.hljs-tag {
  color: #62c8f3;
}

.hljs-selector-class,
.hljs-selector-id,
.hljs-template-variable,
.hljs-variable {
  color: #ade5fc;
}

.hljs-meta-string,
.hljs-string {
  @apply text-teal;
  /*color: #a2fca2;*/
}

.hljs-attr,
.hljs-quote,
.hljs-selector-attr {
  color: #7bd694;
}

.hljs-tag .hljs-attr {
  color: inherit;
}

.hljs-attribute,
.hljs-title,
.hljs-type {
  color: #ffa;
}

.hljs-number,
.hljs-symbol {
  color: #d36363;
}

.hljs-bullet,
.hljs-template-tag {
  color: #b8d8a2;
}

.hljs-built_in,
.hljs-keyword,
.hljs-literal,
.hljs-selector-tag {
  @apply text-pink;
}

.hljs-code,
.hljs-comment,
.hljs-formula {
  /*color: #888;*/
  @apply text-text/50;
}

.hljs-link,
.hljs-selector-pseudo,
.hljs-regexp {
  color: #c6b4f0;
}

.hljs-meta {
  color: #fc9b9b;
}

.hljs-deletion {
  background: #fc9b9b;
  color: #333;
}

.hljs-addition {
  background: #a2fca2;
  color: #333;
}

/* Purposely ignored */
.hljs-operator,
.hljs-params,
.hljs-property,
.hljs-punctuation {
}

.hljs-subst {
  color: #fff;
}

/* This applies only if HTML auto-merging plugin is enabled by user (#2889) */
.hljs a {
  color: inherit;
}

.hljs a:focus,
.hljs a:hover {
  color: inherit;
  text-decoration: underline;
}

.hljs mark {
  background: #555;
  color: inherit;
}
