@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .min-h-fill-available {
    min-height: -webkit-fill-available;
    min-height: 100vh;
  }
}
